# Git configuration - B.O.F
# @brayaon20

[user]
    name = brayaON
    email = bof.23402@gmail.com
[init]
    defaultBranch = main
[alias]
    st = status
    co = checkout
    lg = log
    br = branch
    ci = commit
    pl = pull
    ps = push
    a = add
    psf = push --force-with-lease
    aamend = --all --amend --no-edit
    amend = --amend --no-edit
