# Este es el archivo de configuración de Git por usuario.
[user]
	name = brayaON
	email = bortizf@unal.edu.co
# Por favor, adapta y descomenta las siguientes líneas:
#	name = Brayan Ortiz Fajardo
#	email = brayaON@localhost.localdomain
